body {
    padding: 10px;
}

.create_listing_group {
    display: block;
    padding-left: 10px;
    width: 800px;
}

#description_text {
    width: 100%;
    height: 200px;
}

.title, .url {
    width: 100%;
}

.group:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.group { 
    display: inline-block; 
}

.five-columns .col {
    width: 16%; float: left; padding: 2%;
}

.btn-primary { 
    text-align: center;
}

.listing_group {
    padding-left: 60px;
    display: grid;
    grid-template-columns: 400px auto;
    font-family: arial;
}

.block1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.block2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.detail_wrapper {
    display: block;
}

.form-control {
    display: inline;
}

.bidbtn {
    padding-top: 10px;
}
.bidmessage {
    padding-top: 5px;
    display: inline-block;
    font-size: 13px;
}

.price_title {
    display: inline;
}

.price_group {
    display: inline;
}

.price_wrapper {
    display: grid;
    grid-template-columns: 150px 150px;
}

.price_group1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.price_group2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.index_title_wrap {
    display: inline-block;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;

}

.description-listing {
    display: inline-block;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    height: 30px;
    width: 200px;
}

.status-submit  {
    display: inline;
    text-align: center;
}

.lt-title {
    font-size: 20;
}

.add-comment-block {
    display: block;
}

.add-comment {
    display: block;
    margin-bottom: 10px;
}

.comment-submit {
    display: block;
    margin: 0;
}

.image-listing {
    height:200px;
    width:200px;
}

.contain {
    height:200px;
    object-fit: contain;
}

.category_group {
    width: 500px;
}